.apiList{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}
.apiList li{
	padding: 10px 15px;
	text-align: left;
	background: #dedede;
}
.apiList li:nth-child(2n){
	background: #fff;
}

.apiList{
	
}
.apiList tr{
	background: #dedede;
}
.apiList tr:nth-child(2n){
	background: #fff;
}
.apiList tr td{
	text-align: left;
	padding: 10px;
	border: solid 1px #ccc; 
}